<div class="card photo">
  <div class="card-header clearfix">
    <div class="avatar">
      <%= image_tag Faker::Avatar.image(photo.username, '32x32') %>
    </div>
    <%= photo.username %>
    <span class="timestamp pull-xs-right"><%= time_ago_in_words photo.created_at %></span>
  </div>
  <div class="card-img">
    <%= image_tag photo.url %>
  </div>
  <div class="card-block">
    <div>
      <%= photo.caption %>
    </div>
    <%= pluralize photo.likes_count, 'like' %>
  </div>
  <% if photo.comments.size > 0 %>
    <div class="card-footer">
      <%= render photo.comments %>
    </div>
  <% end %>
</div>
