<div class="card photo">
  <div class="card-header">
    <%= photo.username %>
    <span class="timestamp pull-xs-right"><%= time_ago_in_words photo.created_at %></span>
  </div>
  <div class="card-img">
    <%= image_tag photo.url %>
  </div>
  <div class="card-block">
    <div>
      <%= photo.caption %>
    </div>
    <%= pluralize photo.likes_count, 'like' %>
  </div>
</div>
